*{
    margin:0px;
    padding-top:0px;
  
}
html, body {
    overflow-x: hidden;
  }
  body {
    background-color: black;
    position: relative
  }
header{
    background-color: black;
}
html{
    scroll-behavior: smooth;

}
.nav-link{
    color: rgb(231, 231, 231);
}
.nav-link:hover{
    color: rgb(234, 10, 10);
}



@media screen and (max-width:600px){
    .container-title-icons{
        position:absolute;
        top:0.53%;
        left:70%;
        display:block;
        height: auto;
        width:80%;
    
    }
}

@media screen and (min-width:600px){
    .container-title-icons{
        position:absolute;
        top:35%;
        left:70%;
        display:block;
        height: auto;
        width:80%;
    
    }
}


/* Video-tailer */
.video-box{
    position: relative;
    overflow: hidden;
    padding-top:56.25%;
}

.video-box iframe{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    padding-left:15px;
    padding-right:15px;
}

/* Video review */
.video-box2{
    position: relative;
    overflow: hidden;
  
}

.video-box2 iframe{
    width:89%;
    height:75%;
    position:absolute;
    top:15%;
    left:5.5%;
    padding-left:5px;
    padding-right:5px;
}





/* join btn start */
.join-section{
    background-color:black;
    padding-top:10px;
    padding-bottom:30px;
   
}




.div-center a{
    text-decoration: none;
}

.div-center{
    justify-content: center;
    align-items: center;
    display: block;
    width:320px;
    height:100%;
    margin: auto;
    /* padding-top:10px;
    padding-bottom:20px; */
   
}
.div-center{
    justify-content: center;
    align-items: center;
    display: block;
    width:320px;
    height:100%;
    margin: auto;
    /* padding-top:10px;
    padding-bottom:20px; */
   
}

.div-center .join-btn-text{
    font-size:34px;
}
/* join btn end */
.container-img {
  position: relative;
  width: 100%;
}
.container-img2 {
    position: relative;
    width: 100%;
  }
/* Make the image responsive */


/* Style the button and place it in the middle of the container/image */
.container-img .div-center-btn2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -125%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
}
.container-img2 .div-center-btn3 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-95%, -125%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    cursor:pointer;
}


/* .div-center-btn2{
    justify-content: center;
    align-items: center;
    display: block;
    width:230px;
    height:100%;
    transform: translateY(-490px);
    margin: auto;

} */

.gallery{
    background-color: rgb(15, 14, 14);
    padding: 80px 0;
}
img{
    max-width:100%;
    overflow-x: hidden;
   
}
section{
    border:0px;
}

.video-box3 ,.video-box4 , .video-box5,.video-box6{
    position: relative;
    overflow: hidden;
  
}
/* Image row */
.video-box-container{
    position: relative;
    top:0;
    left:0;
}
.bgimage{
    position: relative;
    top: 0;
    left:0;
}
.video-box3 {
    width:85%;
    height:20%;
    position:absolute;
    top:5%;
    left:7.5%;
    padding-left:5px;
    padding-right:5px;
  
}
.video-box4 {
    width:85%;
    height:20%;
    position:absolute;
    top:29.5%;
    left:7.5%;
    padding-left:5px;
    padding-right:5px;
  
}
.video-box5{
    width:85%;
    height:20%;
    position:absolute;
    top:53.5%;
    left:7.5%;
    padding-left:5px;
    padding-right:5px;
  
}
.video-box6 {
    width:85%;
    height:20%;
    position:absolute;
    top:78%;
    left:7.5%;
    padding-left:5px;
    padding-right:5px;
  
}
.footer-class{
    position: relative;
    background-color: rgb(0, 0, 0);
    border: none;
    display:block;
    
}

.container-icons{
    position:absolute;
    top:20%;
    left:33%;
    display:block;
    height: auto;
    width:100%;

}

.scrltop-btn{
position:fixed;
width:50px;
height:50px;
bottom:40px;
right:30px;
background-color: rgb(23, 23, 23);

text-decoration:none;
text-align:center;
line-height:50px;
color: white;
font-size: 25px;
}

/* @media screen and (max-width:600px){
    .container-text{
        justify-content: center;
        align-items: center;
        display: block;
        width:320px;
        height:100%;
        margin: auto;
    }
    .container-text .text-item{
        font-size:16px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
}
@media screen and (min-width:600px){
    .container-text{
        justify-content: center;
        align-items: center;
        display: block;
        width:100%px;
        height:100%;
        margin: auto;
    }
    .container-text .text-item{
        font-size:50px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
} */
/* .join-btn{
    display: inline-flex;
    height: 70px;
    padding: 0;
    color:white;
   background: #c80b0b;
   outline: none;
   overflow:hidden;
   border-radius:5px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size:35px;
   font-weight: 500;
   border:none;
   box-shadow: rgba(0, 0, 0, 0.5);
   cursor: pointer;

   .join-btn:hover{
    background: #e70808;
}
.join-btn:active{
    background:#f51212
}
.join-btn-text, .join-btn-icon{
    height:100%;
    display:inline-flex;
    align-items: center;
    padding:0 24px;
}
.join-btn-icon{
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.08);
}
} */